      <div ng-controller="AsideComponentCtrl" class="aside-wrap">
        <div class="navi-wrap">
          <!-- user
          <div class="clearfix hidden-xs text-center hide" id="aside-user">
            <div class="dropdown wrapper">
              <a href="http://flatfull.com/themes/angulr/html/app.page.profile">
                <span class="thumb-lg w-auto-folded avatar m-t-sm">
                  <img src="/img/a0.jpg.png" class="img-full" alt="...">
                </span>
              </a>

            </div>
            <div class="line dk hidden-folded"></div>
          </div>
           / user -->

          <!-- nav -->
          <nav ui-nav class="navi clearfix">
            <ul class="nav">
              <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span>Navigation</span>
              </li>
              <li ng-class="{active: isActive('dashboard')}">
                <a ui-sref="inside.dashboard" class="auto">
                  <i class="glyphicon glyphicon-stats icon"></i>
                  <span class="font-bold">Dashboard</span>
                </a>
              </li>
              <li ng-class="{active: isActive('workers')}">
                <a ui-sref="inside.workers.list" class="auto">
                  <i class="glyphicon glyphicon-wrench"></i>
                  <span class="font-bold">Workers</span>
                </a>
              </li>
              <li ng-class="{active: isActive('storage')}">
                <a ui-sref="inside.storage" class="auto">
                  <i class="fa fa-archive"></i>
                  <span class="font-bold">Storage</span>
                </a>
              </li>
              <li ng-class="{active: isActive('tasks')}">
                <a ui-sref="inside.tasks.list.active" class="auto">
                  <i class="fa fa-puzzle-piece"></i>
                  <span class="font-bold">Tasks</span>
                </a>
              </li>
              <li ng-class="{active: isActive('youtube')}">
                <a ui-sref="inside.youtube" class="auto">
                  <i class="fa fa-youtube"></i>
                  <span class="font-bold">Youtube</span>
                </a>
              </li>
              <li ng-class="{active: isActive('settings')}">
                <a ui-sref="inside.settings" class="auto">
                  <i class="fa fa-gear"></i>
                  <span class="font-bold">Settings</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- nav -->
        </div>
      </div>
