<!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
          <small class="text-muted">Welcome to Transcoder Application</small>
        </div>
      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
      <!-- stats -->
      <div class="row">
        <div class="col-md-5">
          <div class="row row-sm text-center">
            <div class="col-xs-6">
              <div class="panel padder-v item">
                <div class="h1 text-info font-thin h1" ng-bind="statistics.workersCount"></div>
                <span class="text-muted text-xs">Workers Count</span>
              </div>
            </div>
            <div class="col-xs-6">
              <a ui-sref="inside.tasks.list.chained" class="block panel padder-v bg-info item">
                <div class="text-white font-thin h1" ng-bind="statistics.chainedCount"></div>
                <span class="text-muted text-xs">Chained Jobs</span>
              </a>
            </div>
            <div class="col-xs-6">
              <a ui-sref="inside.tasks.list.active" class="block panel padder-v bg-warning item">
                <div class="text-white font-thin h1" ng-bind="statistics.activeCount"></div>
                <span class="text-muted text-xs">Active Jobs</span>
              </a>
            </div>
            <div class="col-xs-6">
              <a ui-sref="inside.tasks.list.failed" class="block panel padder-v bg-danger item">
                <span class="text-white font-thin h1 block" ng-bind="statistics.failedCount"></span>
                <span class="text-muted text-xs">Failed jobs</span>
              </a>
            </div>
            <div class="col-xs-12">
              <a ui-sref="inside.tasks.list.completed" class="block panel padder-v bg-success item">
                <div class="text-white font-thin h1" ng-bind="statistics.completeCount"></div>
                <span class="text-muted text-xs">Completed Jobs</span>
              </a>
            </div>
            <div class="col-xs-12 m-b-md">
              <div class="r bg-light dker item hbox no-border">
                <div class="col w-xs v-middle hidden-md">
                  <div ui-jq="sparkline" ui-options="sparkline" class="sparkline inline"></div>
                </div>
                <a ui-sref="inside.tasks.list.queued" class="col dk padder-v r-r">
                  <div class="text-primary-dk font-thin h1"><span ng-bind="statistics.quenedCount"></span></div>
                  <span class="text-muted text-xs">Queued Jobs</span>
                </a>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="panel padder-v item" ng-class="redisAlive ? 'bg-success' : 'bg-danger'">
                <div class="text-info font-thin h1"></div>
                <span class="text-muted text-xs">Redis</span>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="panel padder-v item" ng-class="mongoAlive ? 'bg-success' : 'bg-danger'">
                <div class="text-info font-thin h1"></div>
                <span class="text-muted text-xs">Mongo</span>
              </div>
            </div>

          </div>
        </div>
        <div ng-show="workers.length > 0" class="col-md-7">
          <div class="panel wrapper">
            <h4 class="font-thin m-t-none m-b text-muted" ng-bind="activeWorker"></h4>
            <div ui-jq="plot" ui-options="plot" style="height:246px" >
            </div>
          </div>
        </div>
        <div ng-show="workers.length > 0" class="col-md-7">
          <div class="list-group">
            <a ng-repeat="worker in workers" ng-class="{'active': activeWorker == worker.worker_id}" ng-click="seeWorkerStat(worker.worker_id)" class="list-group-item" ng-bind="worker.worker_id"></a>
            <custompagination options="pagination" control="getWorkers"></custompagination>
          </div>
        </div>
        <div ng-show="workers.length == 0" class="col-md-7">
          <div class="panel wrapper">
            <alert class="text-center" type="info">There is no active workers</alert>
          </div>
        </div>
      </div>
      <!-- / stats -->
    </div>
  </div>
  <!-- / main -->
