<alert ng-show="tasks.length == 0 && !loadingState" class="text-center" type="info">Now there is no tasks. Polling server for results...</alert>
<div ng-class="{'panel': !loadingState && tasks.length > 0}" class="panel-default">
	<div ng-hide="tasks.length == 0 || loadingState"class="table-responsive">
		<table class="table table-striped b-t b-light" style="table-layout: fixed;">
			<thead>
				<tr>
					<th>ID</th>
					<th>Task Info</th>
					<th>Progress</th>
					<th width="100"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="task in tasks">
					<td ng-bind="task.data.task_id" ></td>
          <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"> <b>Input files:</b> <br>
						<span ng-repeat="file in task.data.input">
							{{$index + 1}}. {{file.type}} : {{file.source}}
						</span><br>
						<b>Tasks:</b> <br>
						<span ng-repeat="file in task.data.output">{{$index + 1}}. {{file.type}}&nbsp;</span><br>
						<span ng-if="task.data.title"><b>Title:</b> {{task.data.title}}</span><br>
                        <span ng-if="task.data.wait_for"><b>Waiting for:</b><br>
							<span ng-repeat="item in task.data.wait_for">{{item}}<br></span>
                        </span>
						<span ng-if="task.data.settings.audio.audioCodec"><b>Audio:</b> {{task.data.settings.audio.audioCodec}}</span><br>
						<span ng-if="task.data.settings.video.videoCodec"><b>Video:</b> {{task.data.settings.video.videoCodec}}</span><br>
						<span ng-if="task.type"><b>Type:</b> {{task.type}}</span><br>
						<span ng-if="task.duration"><b>Duration:</b> {{task.duration}} seconds</span><br>
						<span ng-if="task.created_at"><b>Created at:</b> {{task.created_at | date:"yyyy-MM-dd HH:mm:ss Z"}}</span><br>

					</td>
					<td ng-bind="task.progress"></td>
					<td class="text-center">
						<div class="btn-group">
							<a href="" ng-disabled="activeAction" class="btn btn-sm btn-warning col-sm-12"
							ng-if = "activeStatus == 'active'"
							ng-click = "stop(task.data.task_id)">
								<i class="fa fa-stop"></i>
								&nbsp;Stop
							</a>
							<a href="" ng-disabled="activeAction" class="btn btn-sm btn-danger col-sm-12"
							ng-click = "delete(task.data.task_id)">
								<i class="fa fa-times"></i>
								&nbsp;Delete
							</a>
							<a href="" ng-hide = "activeStatus == 'active'" ng-disabled="activeAction" class="btn btn-sm btn-info col-sm-12"
							ng-if = "activeStatus == 'failed' || 'delayed' || 'complete'"
							ng-click = "restart(task.data.task_id)">
								<i class="fa fa-recycle"></i>
								&nbsp;Restart
							</a>
							<a ui-sref="inside.tasks.edit({task_id: task.data.task_id})" ng-disabled="activeAction" class="btn btn-sm btn-success col-sm-12"
							ng-if = "activeStatus != 'active'">
								<i class="fa fa-pencil"></i>
								&nbsp;Edit
							</a>
              <a class="btn btn-sm btn-info col-sm-12" ng-click="copyTask(task)">
                  <i class="fa fa-question"></i>&nbsp;Details
              </a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="loadingState" class="spinner-loading">
		<div class="bg-info rect1"></div>
		<div class="bg-info rect2"></div>
		<div class="bg-info rect3"></div>
		<div class="bg-info rect4"></div>
		<div class="bg-info rect5"></div>
	</div>
	<custompagination options="pagination" control="getTasks"></custompagination>
</div>

