<div class="row">
	<div class="col-sm-12">
		<a ui-sref="inside.tasks.new" class="pull-right btn btn-success"><i class="icon-plus"></i>&nbsp;&nbsp;Create Task</a>
	</div>
</div>


<!-- TAB CONTAINER -->
<div class="tab-container">
	<ul class="nav nav-tabs" role="tablist">
		<li ui-sref-active = "active"><a ui-sref="inside.tasks.list.active">Active <span class="badge badge-sm m-l-xs" ng-bind="stats.activeCount"></span></a></li>
		<li ui-sref-active = "active"><a ui-sref="inside.tasks.list.completed">Completed <span class="badge bg-success badge-sm m-l-xs" ng-bind="stats.completeCount"></span></a></li>
		<li ui-sref-active = "active"><a ui-sref="inside.tasks.list.failed">Failed <span class="badge bg-danger badge-sm m-l-xs" ng-bind="stats.failedCount"></span></a></li>
		<li ui-sref-active = "active"><a ui-sref="inside.tasks.list.chained">Chained <span class="badge bg-warning badge-sm m-l-xs" ng-bind="stats.delayedCount"></span></a></li>
		<li ui-sref-active = "active"><a ui-sref="inside.tasks.list.queued">Queued <span class="badge bg-primary badge-sm m-l-xs" ng-bind="stats.inactiveCount"></span></a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" ui-view></div>
	</div>
</div>
<!-- END TAB CONTAINER -->