<div ng-class="{'flipInX': forms.schema.show,'hide': !forms.schema.show}" class="panel panel-default animated">
	<div class="panel-heading">Schema</div>
    <form class="panel-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" ng-model="schemaName" name="schemaName" class="form-control m-b" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Settings</label>
            <div class="col-sm-10">
                <textarea ng-model="settings" class="form-control m-b" rows="20"></textarea>
            </div>
        </div>
        <div class="col-sm-12 text-right">
            <div class="btn-group">
                <button type="button" ng-disabled="sending" class="btn btn-success" ng-click="createSchema()">Create</button>
                <button type="button" ng-disabled="sending" class="btn btn-success" ng-if="schemaPrototype" ng-click="updateSchema()">Edit</button>
                <a ng-click = "forms.schema.show = false" class="btn btn-success">Cancel</a>
            </div>
        </div>
    </form>
    <div class="clearfix"></div>
</div>

<div ng-class="{'flipInX': forms.schema.showList,'hide': !forms.schema.showList}" class="panel panel-default animated">
    <div class="panel-heading">Schemas
        <button ng-click="onCreateSchema();" type=button class='btn btn-success pull-right'>Create new</button>
    </div>
	<div class="table-responsive">
		<table ng-show="templates.length > 0" class="table table-striped b-t b-light">
			<thead>
				<tr>
					<th>Name</th>
					<th>Updated</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="template in schemas">
					<td ng-bind="template.name"></td>
					<td>{{template.updated | amDateFormat:'MMM D, YYYY'}}</td>
					<td>
						<div class="clearfix">
							<div class="col-sm-12 text-right">
								<div class="btn-group">
									<button type="button" ng-disabled="sending" class="btn btn-sm btn-default" ng-click = "onEditSchema(template)">Edit</button>
									<button type="button" ng-disabled="sending" class="btn btn-sm btn-danger" ng-click="deleteSchema(template.name)">Delete</button>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="col-sm-12">
            <alert class="text-center" ng-show="templates.length == 0" type="info">No schemas available</alert>
        </div>
	</div>

    <div class="clearfix"></div>
	<custompagination options="pagination" control="pagination.controller"></custompagination>
</div>

<div class="panel panel-default">
	<form class="panel-body">
		<div class="form-group" ng-show="isCreate">
			<label class="col-sm-2 control-label">Schema</label>
			<div class="col-sm-8">
                <select ng-model="chosenSchema" ng-change="chooseSchema();" name="account" ng-options="schema.name for schema in schemas" class="form-control m-b"></select>
			</div>
			<button class="btn btn-sm btn-success col-sm-2" ng-click='forms.schema.showList = !forms.schema.showList;'>Manage</button>
		</div>
        <div class="clearfix"></div>
 		<div class="form-group" ng-if="schemaShow">
 		     <label class="col-sm-2">Builder</label>
             <json-editor schema="editorSchema" on-change="builderChange($editorValue)" startval="task" class='col-sm-10'></json-editor>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Editor task</label>
			<div class="col-sm-10">
				<textarea ng-model="taskString" class="form-control m-b" rows="10"></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-10 col-sm-offset-2">
				<a ng-click = "cancel()" ng-if="!isCreate" class="btn btn-default">Cancel</a>
				<!-- Edit -->
				<button ng-if="!isCreate" ng-disabled="sending" ng-click="send(taskString)" type="submit" class="btn btn-primary">Save</button>
				<button ng-if="!isCreate" ng-disabled="sending" ng-click="send_and_run(taskString)" type="submit" class="btn btn-primary">Save & run</button>
				<!-- Create -->
				<button ng-show="isCreate && chosenSchema.name == 'create'" ng-disabled="sending" ng-click = "commonTask(taskString)" class="btn btn-success">Common Task</button>
				<button ng-show="isCreate && chosenSchema.name == 'create'" ng-disabled="sending" ng-click = "boostTask(taskString)" class="btn btn-success">Create Boosted Task</button>
				<button ng-show="isCreate && chosenSchema.name == 'create'" ng-disabled="sending" ng-click = "chainTo = true" class="btn btn-success">Add to chain</button>
				<!-- Create Chain -->
				<button ng-show="isCreate && chosenSchema.name == 'create_chain'" ng-disabled="sending" ng-click = "createChain(taskString)" class="btn btn-success">Create Chain</button>
				<!-- Create Multiple -->
				<button ng-show="isCreate  && chosenSchema.name == 'multiple_inputs'" ng-disabled="sending" ng-click = "createMultipleChain(taskString)" class="btn btn-success">Create Multiple inputs</button>
				<!-- Templates -->
				<button ng-show="isCreate && chosenSchema.name" ng-disabled="sending" ng-click = "saveTplForm.show = true; saveTplForm.status = 'create'" type="submit" class="btn btn-info">Save template as...</button>
			</div>
		</div>
	</form>
</div>

<div ng-class="{'flipInX':chainTo,'hide': !chainTo}" class="panel panel-default animated">
	<div class="panel-heading">
		Enter task ID which you want to be done to start new task
	</div>
	<form name="chainToForm" ng-submit="chainToForm.$valid && addToChain(taskTo, taskString)" class="panel-body" novalidate>
		<div ng-class="{'has-error': !chainToForm.$valid && chainToForm.$submitted}" class="form-group">
			<label class="col-sm-2 control-label">Task ID</label>
			<div class="col-sm-10">
				<input type="text" ng-model="taskTo" name="taskTo" class="form-control m-b" required>
			</div>
		</div>
		<div class="form-group text-right">
			<div class="col-sm-12">
				<button ng-disabled="sending" type="submit" class="btn btn-success">Add</button>
				<button ng-click="chainTo = false; taskTo = '';" type="button" class="btn btn-success">Cancel</button>
			</div>
		</div>
	</form>
</div>

<div ng-class="{'flipInX':saveTplForm.show,'hide': !saveTplForm.show}" class="panel panel-default animated">
	<div class="panel-heading">
		Save template
	</div>
	<form name="saveForm" ng-submit="saveForm.$valid && tplProcess(tpl)" class="panel-body" novalidate>
		<div ng-class="{'has-error': !saveForm.tpl_name.$valid && saveForm.$submitted}" class="form-group">
			<label class="col-sm-2 control-label">Enter name</label>
			<div class="col-sm-10">
				<input ng-disabled="saveTplForm.status == 'edit'" type="text" ng-model="tpl.name" name="tpl_name" class="form-control m-b" required>
			</div>
		</div>
		<div ng-show="saveTplForm.status == 'edit'" ng-hide="saveTplForm.status == 'create'" ng-class="{'has-error': !saveForm.tpl_body.$valid && saveForm.$submitted}" class="form-group">
			<label class="col-sm-2 control-label">Body</label>
			<div class="col-sm-10">
				<textarea ng-model="tpl.body" name="tpl_body" class="form-control m-b" rows="20" ng-required="saveTplForm.status == 'edit'" ></textarea>
			</div>
		</div>
		<div class="form-group text-right">
			<div class="col-sm-12">
				<button ng-show="saveTplForm.status == 'edit'" ng-disabled="sending" type="submit" class="btn btn-success">Edit</button>
				<button ng-show="saveTplForm.status == 'create'" ng-disabled="sending" type="submit" class="btn btn-success">Save</button>
				<button ng-click="saveTplForm.show = false; tpl = {};" type="button" class="btn btn-success">Cancel</button>
			</div>
		</div>
	</form>
</div>

<div class="panel panel-default animated">
	<div class="panel-heading">
		Custom templates
	</div>
	<div class="table-responsive">
		<table ng-show="templates.length > 0" class="table table-striped b-t b-light">
			<thead>
				<tr>
					<th>Name</th>
					<th>Updated</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="template in templates">
					<td ng-bind="template.name"></td>
					<td>{{template.updated | amDateFormat:'MMM D, YYYY'}}</td>
					<td>
						<div class="clearfix">
							<div class="col-sm-12 text-right">
								<div class="btn-group">
									<button type="button" ng-disabled="sending" class="btn btn-sm btn-success" ng-click="chooseTemplate(template.name)">Use</button>
									<button type="button" ng-disabled="sending" class="btn btn-sm btn-danger" ng-click="deleteTemplate(template.name)">Delete</button>
									<button type="button" ng-disabled="sending" class="btn btn-sm btn-default" ng-click = "editTemplate({name: template.name, body: template.body})">Edit</button>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="col-sm-12"><alert class="text-center" ng-show="templates.length == 0" type="info">You haven't got any custom template.</alert></div>
	</div>
	<custompagination options="pagination" control="pagination.controller"></custompagination>
</div>
