<!-- main -->
	<div class="col">
		<!-- main header -->
		<div class="bg-light lter b-b wrapper-md">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<h1 class="m-n font-thin h3 text-black">Tasks</h1>
					<small class="text-muted">Here will be displayed your tasks</small>
				</div>
			</div>
		</div>
		<!-- / main header -->
		<div class="wrapper-md">
			<div class="panel panel-default">
				<form name="Settings" ng-submit="Settings.$valid && Settings.$dirty && saveSettings()" class="form-horizontal panel-body" novalidate>
					<div ng-class="{'has-error': Settings.Image_ID.$invalid}" class="form-group">
						<div class="clearfix">
							<label for="Image_ID" class="col-sm-2 control-label">Image ID</label>
							<div class="col-sm-6">
								<input type="text" id="Image_ID" name="Image_ID" ng-model="settings.image_id" required class="form-control">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="clearfix">
							<label for="Instance_type" class="col-sm-2 control-label">Instance Type</label>
							<div class="col-sm-6">
								<select id="Instance_type" name="Instance_type" class="form-control" ng-model="settings.instance_type">
									<option ng-repeat="type in instance_types track by $index" value="{{type}}" ng-bind="type"></option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="clearfix">
							<label for="Queue_Length" class="col-sm-2 control-label">Queue Length</label>
							<div class="col-sm-10">
								<slider id="Queue_Length" name="Queue_Length" ng-model="settings.queue_length" min="slider_queue.min" step="slider_queue.step" max="slider_queue.max" slider-tooltip="show"></slider>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="clearfix">
							<span class="col-sm-2 control-label">Max Workers Length</span>
							<div class="col-sm-10">
								<slider ng-model="settings.max_aws_workers_count" min="slider_max_workers.min" step="slider_max_workers.step" max="slider_max_workers.max" slider-tooltip="show"></slider>
							</div>
						</div>
					</div>
					<div class="line line-dashed b-b line-lg"></div>
					<div class="form-group">
						<div class="clearfix">
							<div class="col-sm-12 text-right">
								<button ng-disabled="!Settings.$dirty" type="submit" class="btn btn-success">Save changes</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div><!-- END Wrapper-md -->
	</div>
	<!-- / main -->