<!-- main -->
<div class="col">
	<!-- main header -->
	<div class="bg-light lter b-b wrapper-md">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<h1 class="m-n font-thin h3 text-black">Youtube</h1>
				<small class="text-muted">Here you can control your Youtube accounts</small>
			</div>
		</div>
	</div>
	<!-- / main header -->
	<div class="wrapper-md">
		<div class="panel panel-default">
			<div class="panel-heading">Editor</div>
			<form name="Youtube" ng-submit="Youtube.$valid && Youtube.$dirty && edit(youtube)" class="form-horizontal panel-body" novalidate>
				<div ng-class="{'has-error': Youtube.Username.$invalid && Youtube.$submitted}" class="form-group">
					<div class="clearfix">
						<label for="Username" class="col-sm-2 control-label">Username</label>
						<div class="col-sm-6">
							<input type="text" id="Username" name="Username" ng-model="youtube.username" required class="form-control">
						</div>
					</div>
				</div>
				<div ng-class="{'has-error': Youtube.Client_ID.$invalid && Youtube.$submitted}" class="form-group">
					<div class="clearfix">
						<label for="Client_ID" class="col-sm-2 control-label">Client ID</label>
						<div class="col-sm-6">
							<input type="text" id="Client_ID" name="Client_ID" ng-model="youtube.credentials.client_id" required class="form-control">
						</div>
					</div>
				</div>
				<div ng-class="{'has-error': Youtube.Client_Secret.$invalid && Youtube.$submitted}" class="form-group">
					<div class="clearfix">
						<label for="Client_Secret" class="col-sm-2 control-label">Client secret</label>
						<div class="col-sm-6">
							<input type="text" id="Client_Secret" name="Client_Secret" ng-model="youtube.credentials.client_secret" required class="form-control">
						</div>
					</div>
				</div>
				<div ng-class="{'has-error': Youtube.Refresh_Token.$invalid && Youtube.$submitted}" class="form-group">
					<div class="clearfix">
						<label for="Refresh_Token" class="col-sm-2 control-label">Refresh token</label>
						<div class="col-sm-6">
							<input type="text" id="Refresh_Token" name="Refresh_Token" ng-model="youtube.credentials.refresh_token" required class="form-control">
						</div>
					</div>
				</div>
				<div class="line line-dashed b-b line-lg"></div>
				<div class="form-group">
					<div class="clearfix">
						<div class="col-sm-12 text-right">
							<button ng-hide="isEdit" ng-disabled="processing || isEdit" type="submit" class="btn btn-success">Save changes</button>
							<button ng-hide="!isEdit" ng-disabled="processing || !isEdit" type="submit" class="btn btn-success">Update</button>
							<button ng-hide="!isEdit" type="button" class="btn btn-success" ng-click="youtube = {}; isEdit = false">Cancel</button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="panel panel-default animated">
			<div class="panel-heading">
				Accounts
			</div>
			<div class="table-responsive">
				<table ng-show="accounts.length > 0" class="table b-t b-light">
					<thead>
						<tr>
							<th>Name</th>
							<th>Updated</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="account in accounts">
							<td ng-bind="account.name"></td>
							<td>{{account.updated | amDateFormat:'MMM D, YYYY'}}</td>
							<td>
								<div class="clearfix">
									<div class="col-sm-12 text-right">
										<div class="btn-group">
											<button type="button" ng-disabled="processing" class="btn btn-sm btn-danger" ng-click="delete(account.name)">Delete</button>
											<button type="button" ng-disabled="processing" class="btn btn-sm btn-success" ng-click="get(account.name)">Edit</button>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="wrapper-md">
					<alert class="text-center" ng-show="accounts.length == 0" type="info">You haven't got accounts now, but you can create it.</alert>
				</div>
			</div>
			<custompagination options="pagination" control="getList"></custompagination>
		</div>
	</div>
</div>
<!-- / main -->