<div class="modal-header">
    <h3 class="modal-title" ng-bind="data.title"></h3>
</div>
<div class="modal-body" ng-bind-html="data.message"></div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>