<footer ng-show="pagination.show" class="panel-footer">
  <div class="row">
    <div class="col-sm-3 text-center">
      <small class="text-muted inline m-t-sm m-b-sm">{{pagination.current_start}}-{{pagination.current_end}} of {{pagination.total}}</small>
    </div>
    <div class="col-sm-9 text-right text-center-xs">
      <ul class="pagination pagination-sm m-t-none m-b-none">
        <li ng-show="pagination.prev.show"><a ng-click="fire({skip: pagination.prev.skip, limit: pagination.prev.limit})" href=""><i class="fa fa-chevron-left"></i></a></li>
        <li ng-hide="page.hide" ng-repeat="page in pagination.buttons" ng-class="{'active': activePage.num == page.num}">
          <a ng-if="activePage.num != page.num" ng-click="fire({skip: page.skip, limit: page.limit})" ng-bind="page.num" href=""></a>
          <span ng-bind="page.num" ng-if="activePage.num == page.num"></span>
        </li>
        <li ng-show="pagination.next.show"><a ng-click="fire({skip: pagination.next.skip, limit: pagination.next.limit})" href=""><i class="fa fa-chevron-right"></i></a></li>
      </ul>
    </div>
  </div>
</footer>