<div class="container w-xxl w-auto-xs">
	<a href class="navbar-brand block m-t"><i class="fa fa-cubes"></i> Transcoder</a>
	<div class="m-b-lg">
	<div class="wrapper text-center">
		<strong>Sign in to get in touch</strong>
	</div>
	<form name="form" class="form-validation" novalidate>
		<div class="list-group list-group-sm">
		<div class="list-group-item">
			<input type="text" placeholder="Username" class="form-control no-border" ng-model="user.username" ng-pattern="/^[a-zA-Z0-9]{4,10}$/" required>
		</div>
		<div class="list-group-item">
			 <input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" required>
		</div>
		</div>
		<button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="logIn()" ng-disabled='form.$invalid'>Log in</button>
	</form>
	</div>
</div>