<!-- main -->
	<div class="col">
		<!-- main header -->
		<div class="bg-light lter b-b wrapper-md">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<h1 class="m-n font-thin h3 text-black">Storage</h1>
					<small class="text-muted">Here will be displayed your files from Amazone S3</small>
				</div>
			</div>
		</div>
		<!-- / main header -->
		<div class="wrapper-md">
			<div ng-class="{'flipInX':showUploadForm,
			'hide': !showUploadForm}" class="panel panel-default animated">
				<div class="panel-heading">
					Upload file
					<a href="" ng-click="showUploadForm = false" class="pull-right">
						<i class="fa fa-times text-danger"></i>
					</a>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div ng-hide="uploader.queue[0]" class="wrapper-md">
							<label class="col-sm-12" for="file">
								<div ng-show="uploader.isHTML5" class="m-b-md">
									<div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b" nv-file-drop nv-file-select nv-file-over over-class="b-info" uploader="uploader">
											Base drop zone
									</div>
								</div>
							</label>
							<input ng-hide="uploader.isHTML5" id="file" name="file" type="file" nv-file-drop nv-file-select uploader="uploader" />
						</div>
						<div class="wrapper-md">
							<div ng-hide="success || fail" class="progress bg-light dker" style="">
								<div class="progress-bar progress-bar-striped bg-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
							</div>
							<alert ng-show="success" class="text-center" ng-show="storageFiles.length == 0" type="info">File has been successfully uploaded!</alert>
							<alert ng-show="fail" class="text-center" ng-show="storageFiles.length == 0" type="danger">Downloading failed!</alert>
							<div ng-show="uploader.queue[0]" class="text-left">
								File name: <b ng-bind="uploader.queue[0].file.name"></b><br>
								Size: <b>{{uploader.queue[0].file.size/1000000}}&nbsp;Mb</b><br>
							</div>
						</div>
						<div ng-show="uploader.queue[0]" class="wrapper-md text-right">
							<div class="btn-group">
								<button class="btn btn-default" ng-click="success = false; fail = false; uploader.clearQueue();">Load Another</button>
								<button class="btn btn-success" ng-hide="success || fail" ng-click="uploadFile(uploader.queue[0])">Send</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Your Files
				</div>
				<div class="row">
					<div class="col-sm-7">
						<div class="clearfix">
							<div class="wrapper pull-left"><button ng-click="showUploadForm = !showUploadForm"  class="btn btn-sm btn-success"><i class="icon-plus"></i>&nbsp;&nbsp;Upload File</button></div>
							<div ng-show="resultSearch" class="wrapper pull-right">
								<a class="btn btn-sm btn-danger" ng-click="getFiles({skip:0}); query = '';" href="">
									<span>Clear search results</span>&nbsp;
    			        			<i class="fa fa-times"></i>
    			       			</a>
    			       		</div>
    			       	</div>
					</div>
					<div class="col-sm-5">
						<div class="wrapper">
							<form novalidate name="Search" ng-submit="Search.$valid && searchFiles({query: query, skip: 0})" class="input-group">
								<input type="text" ng-model="query" class="input-sm form-control" placeholder="Search" required>
								<span class="input-group-btn">
									<button class="btn btn-sm btn-default" type="submit"><i class="icon-magnifier"></i></button>
								</span>
							</form>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table ng-show="storageFiles.length > 0" class="table table-striped b-t b-light">
						<thead>
							<tr>
								<th>Task ID</th>
								<th>S3 Key</th>
								<th>Date</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="file in storageFiles">
								<td ng-bind="file.task_id"></td>
								<td ng-bind="file.key"></td>
								<td>{{file.datetime | amDateFormat:'MMM D, YYYY HH:mm'}}</td>
								<td>
									<a href="#" ng-click="downloadFile(file.task_id)">
										<i class="fa fa-download text-info"></i>
									</a>&nbsp;
									<a href="" ng-click="deleteFile(file.task_id)">
										<i class="fa fa-times text-danger"></i>
									</a>&nbsp;
                  <a href="#" ng-click="downloadAllFiles(file.task_id)">
                    <i class="fa fa-cloud-download text-success"></i>
                  </a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="col-sm-12"><alert class="text-center" ng-show="storageFiles.length == 0" type="info">There is no records on your request</alert></div>
				</div>
				<custompagination options="pagination" control="pagination.controller"></custompagination>
			</div>
		</div><!-- END Wrapper-md -->
	</div>
	<!-- / main -->
