<!-- header -->
<header id="header" ng-controller="HeaderComponentCtrl" ng-include="'/app/components/header/header.html'" class="app-header navbar" role="menu"></header>
<!-- / header -->

<!-- aside -->
<aside id="aside" ng-include="'/app/components/aside/aside.html'" class="app-aside hidden-xs bg-dark"></aside>
<!-- / aside -->

<!-- content -->
<div id="content" class="app-content" role="main">
  <div ui-butterbar></div>
  <div class="app-content-body">
  	<div class="hbox hbox-auto-xs hbox-auto-sm" ui-appear ui-view></div>
  </div>
</div>
<!-- / content -->

<!-- footer -->
<footer id="footer" ng-include="'/app/components/footer/footer.html'" class="app-footer" role="footer"></footer>
<!-- / footer -->