			<div class="row">
				<div class="col-sm-12">
					<div class="panel wrapper">
						<h4 class="font-thin m-t-none m-b text-muted" ng-bind="worker_id"></h4>
						<div ui-jq="plot" ui-options="plot" style="height:246px" >
						</div>
					</div>
				</div>

        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">Statistic filter</div>
            <div class="panel-body">
              <form name="plotFilter" class="form-horizontal"
                    ng-submit="plotFilter.$valid && seeWorkerStat(worker_id, range, true)">
                <div class="form-group">
                  <label for="begin" class="col-sm-2 control-label text-center">Begin</label>

                  <div class="col-sm-10">
                    <div class="input-group w-md">
                      <input type="text" class="form-control" datepicker-popup="{{datepickerBegin.format}}"
                             ng-model="range.begin"
                             is-open="datepickerBegin.opened"
                             datepicker-options="datepickerBegin"
                             ng-required="true"
                             close-text="{{datepickerBegin.closeText}}"
                             ng-click="datepickerBegin.opened = true"
                             id="begin" name="begin"
                             readonly
                             min-date="datepickerRangeBegin.min_date"
                             max-date="range.end"

                        />
											<span class="input-group-btn">
												<button disabled class="btn btn-default" ng-click="datepickerBegin.opened = true"><i
                          class="glyphicon glyphicon-calendar"></i></button>
											</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="end" class="col-sm-2 control-label text-center">End</label>

                  <div class="col-sm-10">
                    <div class="input-group w-md">
                      <input type="text" class="form-control" datepicker-popup="{{datepickerEnd.format}}"
                             ng-model="range.end"
                             is-open="datepickerEnd.opened"
                             datepicker-options="datepickerEnd.options"
                             ng-required="true"
                             close-text="{{datepickerEnd.closeText}}"
                             ng-click="datepickerEnd.opened = true"
                             id="end" name="end"
                             readonly
                             max-date="datepickerRangeEnd.max_date"
                             min-date="range.begin"/>
											<span class="input-group-btn">
												<button disabled class="btn btn-default" ng-click="datepickerEnd.opened = true"><i
                          class="glyphicon glyphicon-calendar"></i></button>
											</span>
                    </div>
                  </div>
                </div>

                <button class='btn btn-default' ng-click='setOneHourRange()' type="submit">One hour</button>
                <button class='btn btn-default' ng-click='setSixHoursRange()' type="submit">6 hours</button>
                <button class='btn btn-default' ng-click='setTodayRange()' type="submit">Today</button>
                <button class='btn btn-default' ng-click='setYesterdayRange()' type="submit">Yesterday</button>
                <button class='btn btn-default' ng-click='setThisWeekRange()' type="submit">This week</button>
                <button class='btn btn-default' ng-click='setLastWeekRange()' type="submit">Last week</button>
                <button class='btn btn-default' ng-click='setThisMonthRange()' type="submit">This month</button>
                <button class='btn btn-default' ng-click='setLastMonthRange()' type="submit">Last month</button>

                <div class="line line-dashed b-b line-lg"></div>

                <div class="clearfix">
                  <div class="col-sm-12 text-right">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default"
                              ng-click="seeWorkerStat(worker_id); range = rangeDefault">Reset to default
                      </button>
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Current Tasks</div>
            <div class="table-responsive table-responsive--y">
              <table ng-show="tasks.length > 0" class="table table-striped m-b-none">
                <thead>
                <tr>
                  <th style="width:60px;" class="text-center">ID</th>
                  <th>Info</th>
                  <th>Progress</th>
                  <th width="300"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="task in tasks">
                  <td>{{task.task_id}}</td>
                  <td>{{task.title}}</td>
                  <td class="text-info">{{task.progress}}</td>
                  <td>
                    <div class="btn-group">
                      <a href="#" class="btn btn-sm btn-warning" ng-click="stopTask(task.task_id, $index)"><i
                        class="fa fa-stop"></i>&nbsp;Stop</a>
                      <a href="#" class="btn btn-sm btn-danger" ng-click="deleteTask(task.task_id, $index)"><i
                        class="fa fa-trash"></i>&nbsp;Delete</a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>

              <div class="wrapper">
                <alert class="text-center" ng-show="tasks.length == 0" type="info">No current tasks for this user
                </alert>
              </div>
            </div>

          </div>
        </div>

      </div>
