<div class="panel panel-default">
	<div class="panel-heading">
		Workers List
	</div>
	<div class="row">
		<div class="col-sm-offset-1 col-sm-5">
			<div ng-show="resultSearch" class="wrapper text-center">
				<a class="btn btn-sm btn-danger" ng-click="getWorkers({skip:0, limit:10}); query = '';" href="">
					<span>Clear search results</span>&nbsp;
            		<i class="fa fa-times"></i>
           		</a>
           	</div>
		</div>
		<div class="col-sm-6">
			<div class="wrapper">
				<form novalidate name="Search" ng-submit="Search.$valid && searchWorkers({query: query, skip: 0, limit:10})" class="input-group">
					<input type="text" ng-model="query" class="input-sm form-control" placeholder="Search">
					<span class="input-group-btn">
						<button class="btn btn-sm btn-default" type="submit"><i class="icon-magnifier"></i></button>
					</span>
				</form>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table ng-show="workers.length > 0" class="table table-striped b-t b-light">
			<thead>
				<tr>
					<th>Name</th>
					<th>Info</th>
					<th>Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="worker in workers">
					<td ng-bind="worker.worker_id"></td>
					<td>{{worker.url}} | {{worker.type}}</td>
					<td>{{worker.updated | amDateFormat:'MMM D, YYYY'}}</td>
					<td class="text-right">
						<a href="" ng-class="{'btn-danger': worker.status != 'shutdown', 'btn-info': worker.status == 'shutdown'}" ng-disabled="worker.status == 'shutdown'" ng-click="deleteWorker(worker.worker_id, $index)" ng-show="worker.type == 'aws'" class="btn btn-sm">
							<span ng-hide="worker.status == 'shutdown'">Delete</span>
							<i ng-hide="worker.status == 'shutdown'" class="fa fa-times"></i>
							<span ng-hide="worker.status != 'shutdown'">Shutting down...</span>
						</a>&nbsp;&nbsp;
						<a ui-sref="inside.workers.worker_view({worker_id: worker.worker_id})">
							<i class="fa fa-eye text-info"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="col-sm-12"><alert class="text-center" ng-show="workers.length == 0" type="info">There is no users on your request</alert></div>
	</div>
	<custompagination options="pagination" control="pagination.controller"></custompagination>
</div>