<!-- main -->
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Workers</h1>
          <small class="text-muted">Here will be statistic by workers</small>
        </div>
      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md" ui-view></div><!-- END Wrapper-md -->
  <!-- / main -->